.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.button {
  background-color: #87ede8 !important;
  color: black;
  opacity: 0.9;
}

.button:hover {
  background-color: #35e3f7 !important;
  opacity: 1;
  box-shadow: 0px 2px 6px 0px rgba(53, 52, 52, 0.75) !important;
  transition: all 0.3s ease-in-out !important;
}
